html {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 0 auto;
  width: 802px;
  position: relative;
}

.pt80 {
  padding-top: 80px;
}

.pb110 {
  padding-bottom: 110px;
}

.dark {
  color: black;
}